$light-color: #f5f5f5;
$green-color: #a9c52f;
$dark-color: #283739;
$second-dark-color: #2c5d63;

html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $light-color;
    font-size: 16px;
}

/**
* Overlay
*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f5f5f5;
    font-family: 'Outfit', sans-serif;
    opacity: 1;
    transition: opacity 2s ease;

    &.loaded {
        opacity: 0;
        transition: opacity 2s ease 0.5s;

        .title,
        .text,
        .btn {
            display: none;
        }
    }

    .landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $dark-color;
    }

    .title {
        font-size: 4rem;
    }

    .btn {
        display: block;
        width: 100px;
        height: 100px;
        font-size: 1.5rem;
        font-weight: light;
        font-family: 'Outfit', sans-serif;
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        letter-spacing: -1px;
        color: $dark-color;
        border: none;
        border-radius: 10px;
        background: $green-color;
        cursor: pointer;
        box-shadow: 0 0 0 0 rgba($green-color, 0.5);
        animation: pulse 1.5s infinite;

        &:hover {
            animation: none;
        }
    }

    .loading {
        margin-top: 45px;
        font-size: 2rem;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .rules {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $second-dark-color;
        transition: bottom 0.4s ease;

        &.loaded {
            bottom: 0;
        }

        .title {
            margin-bottom: 10px;
        }
    }

    .text {
        padding: 0 50px;
        font-size: 2rem;
    }

    @keyframes pulse {
        0% {
            transform: (scale(0.95));
        }
        70% {
            transform: (scale(1));
            box-shadow: 0 0 0 15px rgba($green-color, 0);
        }
        100% {
            transform: (scale(0.95));
            box-shadow: 0 0 0 0 rgba($green-color, 0);
        }
    }
}

/**
*  Interface
*/
.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: 'Bebas Neue', cursive;
    opacity: 0;
    transition: opacity 2s ease;

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }
}

/**
* Time
*/
.time {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: white;
    font-size: 6vh;
    background: #00000033;
    padding-top: 5px;
    text-align: center;
}

/**
* Restart
*/
.restart {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: white;
    font-size: 3rem;
    background: #00000033;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 1;
}

/**
*  Map
*/
.map {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    .map--level {
        width: 100px;
        height: auto;
        filter: grayscale(1);
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .active {
        transform: scale(1.5);
        filter: grayscale(0);
    }
}

/** 
* Controls
*/
.controls {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
}

.controls .raw {
    display: flex;
    justify-content: center;
}

.controls .key {
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #ffffff;
    background: #ffffff44;
}

.controls .key.active {
    background: #ffffff99;
}
