// ----------------
// Flexbox
// ----------------

@mixin flexbox-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// ----------------
// Responsive breakpoints mixin
// ----------------
// ex. @include respond-to("medium") {...}

$bp-aliases: (
    'small': (
        max-width: #{$small - 1},
    ),
    'medium': (
        max-width: #{$medium - 1},
    ),
    'large': (
        max-width: #{$large - 1},
    ),
);

@mixin respond-to($name) {
    @if map-has-key($bp-aliases, $name) {
        @media #{inspect(map-get($bp-aliases, $name))} {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$name}`. " (+"Please make sure it is defined in `$bp-aliases` map.");
    }
}